################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

*.db-shm
*.db
*.db-wal
*.vsidx
*.sqlite
*.wsuo
/.vs/Education/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
